.header {
  min-height: 5rem;
  max-width: 1024px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  // border: 2px dashed magenta;
  z-index: 2;
}

.header-heading {
  align-self: center;
  font-size: 4.5rem;
  color: #ffefd5;
  margin: 0.5rem 0;
}

@media only screen and (max-width: 520px) {
  .header-heading {
    font-size: 3rem;
  }
}

.header-btns {
  display: flex;
  justify-content: space-around;
}

.header-btn {
  font-size: 1.25rem;
  color: #ffefd5;
  font-weight: bolder;
}

// .header-btns {
//   position: fixed;
//   top: 5rem;
//   left: 5rem;
//   border: 1px dashed salmon;
//   align-self: flex-start;
//   display: flex;
//   flex-direction: column;
//   z-index: 2;
// }

// .header-btn {
//   margin: 0 0 1rem 1rem;
// }