// .header {
//   min-height: 5rem;
//   display: flex;
//   flex-direction: column;
//   border: 1px dashed yellowgreen;
// }

.header {
  min-height: 5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border: 2px dashed magenta;
}

.header-txt {
  // margin: auto;
  align-self: center;
}

// .header-btns {
//   position: fixed;
//   top: 5rem;
//   left: 5rem;
//   border: 1px dashed salmon;
//   align-self: flex-start;
//   display: flex;
//   flex-direction: column;
//   z-index: 2;
// }

.header-btn {
  margin: 0 0 1rem 1rem;
}